<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rt.dao.TContractInfoMapper">
  <resultMap id="BaseResultMap" type="cn.rt.entity.TContractInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="contract_code" jdbcType="VARCHAR" property="contractCode" />
    <result column="contract_description" jdbcType="VARCHAR" property="contractDescription" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
  </resultMap>
</mapper>