<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rt.dao.TMerchantPromotionMapper">
  <resultMap id="BaseResultMap" type="cn.rt.entity.TMerchantPromotion">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="promotion_no" jdbcType="VARCHAR" property="promotionNo" />
    <result column="merchant_id" jdbcType="BIGINT" property="merchantId" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="promotion_mode" jdbcType="INTEGER" property="promotionMode" />
    <result column="promotion_amount" jdbcType="BIGINT" property="promotionAmount" />
    <result column="car_age_type" jdbcType="INTEGER" property="carAgeType" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="pay_type" jdbcType="INTEGER" property="payType" />
    <result column="pay_no" jdbcType="VARCHAR" property="payNo" />
    <result column="promotion_account_amount" jdbcType="BIGINT" property="promotionAccountAmount" />
    <result column="prediction_promotion_num" jdbcType="BIGINT" property="predictionPromotionNum" />
    <result column="promotion_num" jdbcType="BIGINT" property="promotionNum" />
    <result column="promotion_type" jdbcType="INTEGER" property="promotionType" />
    <result column="car_price_min" jdbcType="INTEGER" property="carPriceMin" />
    <result column="car_price_max" jdbcType="INTEGER" property="carPriceMax" />
    <result column="nearby_distance" jdbcType="INTEGER" property="nearbyDistance" />
    <result column="promotion_start_time" jdbcType="TIMESTAMP" property="promotionStartTime" />
    <result column="promotion_end_time" jdbcType="TIMESTAMP" property="promotionEndTime" />
  </resultMap>
</mapper>