<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rt.dao.TMerchantMapper">
  <resultMap id="BaseResultMap" type="cn.rt.entity.TMerchant">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="merchant_name" jdbcType="VARCHAR" property="merchantName" />
    <result column="merchant_mode" jdbcType="INTEGER" property="merchantMode" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="merchant_telephone" jdbcType="VARCHAR" property="merchantTelephone" />
    <result column="contact_number" jdbcType="VARCHAR" property="contactNumber" />
    <result column="merchant_address" jdbcType="VARCHAR" property="merchantAddress" />
    <result column="province" jdbcType="INTEGER" property="province" />
    <result column="city" jdbcType="INTEGER" property="city" />
    <result column="region" jdbcType="INTEGER" property="region" />
    <result column="lng" jdbcType="DECIMAL" property="lng" />
    <result column="lat" jdbcType="DECIMAL" property="lat" />
    <result column="store_picture" jdbcType="VARCHAR" property="storePicture" />
    <result column="store_environment" jdbcType="VARCHAR" property="storeEnvironment" />
    <result column="store_logo" jdbcType="VARCHAR" property="storeLogo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="pass_status" jdbcType="BIT" property="passStatus" />
    <result column="reject_reason" jdbcType="VARCHAR" property="rejectReason" />
    <result column="im_token" jdbcType="VARCHAR" property="imToken" />
    <result column="yryc_im_token" jdbcType="VARCHAR" property="yrycImToken" />
    <result column="yryc_im_uid" jdbcType="VARCHAR" property="yrycImUid" />
    <result column="pass_time" jdbcType="TIMESTAMP" property="passTime" />
    <result column="isolation" jdbcType="INTEGER" property="isolation" />
    <result column="business_status" jdbcType="INTEGER" property="businessStatus" />
    <result column="frozen_status" jdbcType="INTEGER" property="frozenStatus" />
    <result column="merchant_store_name" jdbcType="VARCHAR" property="merchantStoreName" />
    <result column="is_enter" jdbcType="INTEGER" property="isEnter" />
    <result column="door_to_door" jdbcType="INTEGER" property="doorToDoor" />
    <result column="merchant_identify" jdbcType="VARCHAR" property="merchantIdentify" />
    <result column="business_start" jdbcType="VARCHAR" property="businessStart" />
    <result column="business_end" jdbcType="VARCHAR" property="businessEnd" />
    <result column="business_day" jdbcType="VARCHAR" property="businessDay" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="secret" jdbcType="VARCHAR" property="secret" />
    <result column="notice_url" jdbcType="VARCHAR" property="noticeUrl" />
    <result column="merchant_tip" jdbcType="VARCHAR" property="merchantTip" />
    <result column="path_logo" jdbcType="VARCHAR" property="pathLogo" />
    <result column="coordsys" jdbcType="VARCHAR" property="coordsys" />
    <result column="merchant_type" jdbcType="INTEGER" property="merchantType" />
    <result column="merchant_brand_id" jdbcType="BIGINT" property="merchantBrandId" />
    <result column="gaode_id" jdbcType="VARCHAR" property="gaodeId" />
  </resultMap>
</mapper>